<html>
<head>
  <title>RightScale Chef Training</title>
</head>
<body>
<p>This is an index page customized for <strong><%= node[:httpd][:your_name] %></strong></p>
<p> Page updated at: <%= Time.now %>
</body>
</html>
